body {
  font-family: 'DM Sans', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: clip;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: flex;
  justify-content: center;
}

.heading_container h2 {
  text-align: center;
}

.heading_container h2 span {
  font-weight: bold;
  color: #ff9f01;
}

.hero_area {
  height: 100vh;
  background-color: #111111;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.hero_area::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #ff9f01;
  z-index: 5;
}

.sub_page .hero_area {
  height: auto;
}
.sub_page .hero_area::before {
  display: none;
}

.sub_page .about_section {
  padding: 150px 0;
}

.sub_page .car_section {
  margin-bottom: 75px;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  padding: 15px 0;
  font-family: "Roboto", sans-serif;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}
.header_section .btn{
  color: #ffffff;
  text-transform: uppercase;
}
.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 0;
  margin: 0px 25px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  position: absolute;
  right: 8px;
  top: 7px;
}

.navbar-brand span {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
}

.slider_section {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.slider_section .detail-box {
  margin: 0 auto;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 3rem;
  text-transform: uppercase;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #ff9f01;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin: 35px 0 50px 0;
  text-transform: uppercase;
}

.slider_section .detail-box a:hover {
  background-color: #e78f00;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section #carouselExampleIndicators {
  position: unset;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  position: absolute;
  left: initial;
  top: 50%;
  right: 300px;
  width: 40px;
  height: 40px;
  border: 1.5px solid #ff9f01;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: center;
  background-color: #111111;
  background-position: center;
  z-index: 9;
}

.slider_section .carousel-control-prev:hover,
.slider_section .carousel-control-next:hover {
  background-color: #ffffff;
}

.slider_section .carousel-control-prev {
  background-image: url(../images/prev.png);
  transform: translate(50%, -60%);
}

.slider_section .carousel-control-prev:hover {
  background-image: url(../images/prev-yellow.png);
}

.slider_section .carousel-control-next {
  background-image: url(../images/next.png);
  transform: translate(50%, 60%);
}

.slider_section .carousel-control-next:hover {
  background-image: url(../images/next-yellow.png);
}

.slider_section .indicator_box {
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 25px;
  right: 15px;
  z-index: 5;
}

.slider_section ol.carousel-indicators {
  position: unset;
  margin: 0;
}

.slider_section ol.carousel-indicators .indicator_container {
  display: flex;
  align-items: center;
}

.slider_section ol.carousel-indicators li {
  width: auto;
  height: auto;
  border-radius: 100%;
  text-indent: 0px;
  text-align: center;
  line-height: 55px;
  color: #ffffff;
  background-color: transparent;
  opacity: 1;
  border: none;
  display: none;
}

.slider_section ol.carousel-indicators li.active {
  display: list-item;
}

.find_section {
  transform: translateY(-50%);
  position: relative;
  z-index: 9;
}

.find_section .form_container {
  display: flex;
  background-color: #f3f3f3;
}

.find_section .form_container .box {
  flex: 1;
  border-right: 1px solid #cacbcc;
}
.find_section .form_container .box.b-1 {
  flex: 1.3;
}
.find_section .form_container .box.b-3 {
  border-right:0;
}

.find_section .form_container .box.b-2 .form-control, .find_section .form_container .box.b-3 .form-control {
  text-align: center;
}

.find_section form {
  padding: 30px 45px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.09);
}

.find_section form .form-control {
  outline: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  background-color: transparent;
  margin: 8px 0;
}
.find_section .custom-select{
  border: 0;
  background-color: #f1f1f1;
}
.find_section .custom-select:focus{
  outline: 0;
  box-shadow: none;
}

.find_section form .btn-box {
  display: flex;
  align-items: flex-end;
}

.find_section form .btn-box button, .btn-yello {
  display: inline-block;
  padding: 15px 35px;
  background-color: #ff9f01;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  width: 100%;
}

.find_section form .btn-box button:hover, .btn-yello:hover {
  background-color: #e78f00;
}
.search-form {
  position: relative;
}
.search-form .form-control{
  background: transparent;
  border: 0;
  border-bottom: 1px solid #FFF;
  border-radius: 0;
  padding: 0 34px 0 0;
  color: #FFF;
}
.search-form .form-control{
  box-shadow: none !important
}
.job_section .handler_btn-box {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

.job_section .handler_btn-box .nav-tabs {
  border: none;
}

.job_section .handler_btn-box .nav-link {
  width: 110px;
  padding: 10px 0;
  color: #ffffff;
  background-color: #111111;
  margin: 0 10px;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
}

.job_section .handler_btn-box .nav-link.active {
  background-color: #ff9f01;
}

.job_section .job_board {
  transition: none;
}

.job_section .content-box .content {
  display: flex;
  justify-content: center;
  padding: 75px 0 50px 0;
  flex-wrap: wrap;
}

.job_section .content-box .content .box {
  width: 225px;
  height: 250px;
  background-image: url("../images/job-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 10px 25px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 25px;
  position: relative;
}
.job_section .content-box .content .box:before{
  content: "";
  position: absolute;
  background: black;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  opacity: 0.6;
  border-radius: 25px;
  z-index: 0;
}

.job_section .content-box .content .box h3 {
  text-transform: uppercase;
  color: #ffffff;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.job_section .content-box .content .box a {
  text-transform: uppercase;
  color: #ff9f01;
  z-index: 1;
}

.job_section .content-box .btn-box {
  display: flex;
  justify-content: center;
}

.job_section .content-box .btn-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #ff9f01;
  color: #ffffff;
  transition: all 0.3s;
  border: none;
}

.job_section .content-box .btn-box a:hover {
  background-color: #e78f00;
}

.feature_section {
  background-color: #ff9f01;
}

.feature_section .row {
  align-items: center;
}

.feature_section .detail-box {
  color: #ffffff;
  margin: 45px 0;
}

.feature_section .detail-box h2 {
  margin-bottom: 35px;
}

.feature_section .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #111111;
  color: #ffffff;
  transition: all 0.3s;
  border: none;
  margin-top: 35px;
}

.feature_section .detail-box a:hover {
  background-color: #040404;
}

.feature_section .img-box img {
  width: 100%;
}

.people_section .people_container {
  display: flex;
  justify-content: center;
}

.people_section .people_container.c-2 {
  padding-left: 20%;
}

.people_section .people_container .box {
  margin: 10px;
}

.people_section .people_container .box img {
  width: 100%;
}

.people_section .btn-box {
  display: flex;
  justify-content: center;
}

.people_section .btn-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #ff9f01;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.people_section .btn-box a:hover {
  background-color: #e78f00;
}

.client_section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 45px 15px;
}

.client_section .box .img-box {
  width: 100px;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  margin-top: 35px;
  padding: 0 40px;
}

.client_section .box .detail-box h5 {
  text-transform: uppercase;
  color: #ff9f01;
}

.client_section .box .detail-box p {
  margin-top: 20px;
}

.client_section .carousel_btn-container {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  border-bottom: 1px solid #acacac;
  margin: 0 -1.5px;
}

.client_section #carouselExampleControls {
  margin: 0 10%;
  margin-top: 20px;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  position: unset;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  background-color: #ff9f01;
  background-position: center;
  border-radius: 100%;
  margin: 0 2.5px;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #111111;
}

.client_section .carousel-control-prev {
  background-image: url(../images/prev-angle.png);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.client_section .carousel-control-next {
  left: initial;
  background-image: url(../images/next-angle.png);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* info section */
.info_section {
  position: relative;
  background-color: #252525;
}

.info_section h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 35px;
}

.info_section .about_links h5 {
  border-bottom: 2px solid #ff9f01;
}

.info_section img {
  width: 100%;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 10px 0;
}

.info_section ul li a,
.info_section ul li a:hover {
  color: #fff;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
  color: #fff;
  padding: 1px 3px;
}

.info_section .social-box {
  margin: 25px 0;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

.form_container form {
  display: flex;
  align-items: center;
}

.info_section .form_container label {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.info_section .form_container input {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #fff;
  margin-right: 10px;
}

.info_section .form_container button {
  display: inline-block;
  padding: 8px 25px;
  background-color: #ff9f01;
  color: #ffffff;
  transition: all 0.3s;
  border: none;
  border: none;
  text-transform: uppercase;
}

.info_section .form_container button:hover {
  background-color: #e78f00;
}

.info_section .form_container button:hover {
  transform: none;
}

/* end info section */
/* footer section*/
.footer_section {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
}

.footer_section p {
  color: #292929;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #292929;
}

/* end footer section*/


/* Registraion Page css*/
.inner-form{
  width: 100%;
  max-width: 600px;
  background: #F7F7F7;
  border-radius: 12px;
  padding: 40px 100px;
  margin: 60px auto 100px;
  box-shadow: 0 5px 12px #e2e0e0;
}
.inner-form.company-form{
  padding: 40px;
}
.inner-form label{
  font-size: 14px;
  margin-bottom: 4px;
}
.inner-form .form-control{
  border-color: #DADADA;
  border-radius: 8px;
}
.inner-form .form-control::placeholder{
  font-size: 12px;
  color: gray;
}
.inner-form .form-control:focus{
  box-shadow: 0 0 0 0.2rem rgb(255 137 11 / 25%);
}
.inner-form .form-check-label{
  color: #FFF;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after{
  background-image: none;
  background-color: #121212;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  left: -20px;
  top: 6px;
}
.custom-control-label::before{
  border-color: #9c9494;
  top: 2px;
}
.custom-control-input:checked ~ .custom-control-label::before{
  border-color: #9c9494;
  background-color: #Fff;
}
.btn-dark{
  background-color: #ff9406;
  border-color: #ff9406;
  padding: 6px 24px;
  text-transform: uppercase;
}
.page-title{
  font-weight: bold;
  text-align: center;
  margin: 60px 0 0;
}
.jobseeker-form{
  max-width: 800px;
  padding: 40px;
}
.inner-form.login-form{
  max-width: 450px;
  padding: 40px;
}
.job_section.login-tabs .job_board{
  transition: opacity 0.15s linear;
}

.form-control.dropdown-toggle{
  font-size: 12px;
  color: gray;
}
.form-control.dropdown-toggle span{
  width: 95%;
  display: inline-block;
}
.dropdown-item.active, .dropdown-item:active{
  background-color: #ff890b;
}
.full-dropdown .dropdown-toggle{
  width: 100%;
  text-align: left;
}
.full-dropdown .dropdown-toggle span{
  width: 93%;
  display: inline-block;
  color: #616a72;
}
.form_container .dropdown-menu{
  min-width: 15rem;
}

.job-card{
  padding: 16px;;
  border: 1px solid #e2e0e0;
  border-radius: 4px;
  box-shadow: 0 5px 12px rgb(226 224 224 / 80%);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.job-title{
  font-weight: 600;
  margin-bottom: 0;
}
.job-desc{
  color: #6e6969;
  font-size: 14px;
  margin: 10px 0 0;
}
.job-subtext{
  font-size: 12px;
  display: flex;
}
.job-subtitle {
  font-weight: 600;
  font-size: 12px;
  display: block;
  width: 60px;
}
.job-info-left{
  width: calc(100% - 140px);
  padding-right: 30px;
}
.company-name{
  color: #635e5e;
  margin: 0 0 15px;
}
.job-listing-title{
  font-weight: 700;
  margin-bottom: 30px;
  color: #ff9406;
}
.auth-page-wrap{
  display: flex;
  align-items: center;
  margin: 100px 0;
}
.auth-page-wrap .inner-form{
  margin: 30px auto 0;
}
.auth-page-wrap .page-title{
  margin-top: 0;
}
.auth-left{
  width: 60%;
}
.auth-right{
  width: 40%;
}
.auth-right img{
  max-width: 450px;
}
.error {
    color: red;
}

.has-error input#subscribeMail {
    border: 2px solid red;
}

.has-error #search_txt{
 border-bottom: 1px solid red; 
}

.auth-left p {
    width: 50%;
    margin-left: 8.2em;
    margin-top: 2em;
}
.green{
  color: #1da81d;
}
.custom-select{
  border-radius: 8px;
  font-size: 14px;
}
.custom-select:focus{
  box-shadow: 0 0 0 0.2rem rgb(255 137 11 / 25%);
}
.dash-card{
  border-radius: 6px;
  padding: 40px 20px;
  color: #fff !important;
  text-align: center;
  display: block;
  cursor: pointer;
  background: rgb(254,184,69);
  background: linear-gradient(45deg, rgba(254,184,69,1) 20%, rgba(255,159,1,1) 100%);
}
.table-page-wrap{
  background: #F7F7F7;

}
.dashboard-table{
  border: 0;
  box-shadow: 0 5px 12px #e2e0e0;
  border-radius: 12px;
}
.dashboard-table .table{
  background: #FFF;
  border-radius: 8px;
}
.container-lg{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.table thead th{
  background: #f6f6f6;
}
.table tbody tr:hover{
  background: rgb(246 246 246 / 50%);
}
.page-link{
  color: #222120;
}
.page-link:hover{
  color: #ff9406;
}
.pagination{
  justify-content: flex-end;
}
.badge{
  font-size: 20px;
}
.badge-light{
  color: #ffa01e;
}
.text-primary {
  color: #fea120 !important;
}
a.text-primary:hover {
  color: #000000 !important;
}

.logged-in #primary-menu {
    /* margin-right: 95px; */
}

.logged-in ul.user_option.navbar-nav {margin: 0 -27px 0 0;}

.auth-content {
    text-align: center;
    margin-top: 40px;
    width: 100%;
}

input.search-field {
    width: 300px;
    height: 40px;
    border: 1px solid;
    outline: none;
    padding-left: 15px;
    background-color: #fff;
    margin-right: 10px;
    margin-top:6px;
}

.form_container .search-form input.search-submit {
    display: inline-block;
    padding: 8px 25px;
    background-color: #ff9f01;
    color: #ffffff;
    transition: all 0.3s;
    border: none;
    border: none;
    text-transform: uppercase;
}

.not-found .page-content p {
    margin: 21px auto;
}

/******Apply now form css*******/
.section-alert {
  background: #eee;
  border: 1px solid #d1d8da;
  margin-bottom: 30px;
}
.section-alert:last-of-type {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .section-alert:last-of-type {
    margin-bottom: 30px;
  }
}
.section-alert + .form-note {
  padding-top: 10px;
}
@media (max-width: 767.98px) {
  .section-alert + .form-note {
    padding-top: 0;
  }
}
@media (max-width: 767.98px) {
  .section-alert {
    margin: 0 -15px 15px;
  }
}
.section-alert .select2-container--default .select2-selection--single,
.section-alert .select2-container--default .select2-selection--multiple {
  border: 1px solid #d1d8da;
}
.section-alert .form-control,
.section-alert textarea {
  font-size: 14px;
  border: 1px solid #d1d8da;
}
.applyjob-form .section-alert {
  padding-bottom: 0;
}

.p-30 {
  padding: 30px;
}
@media (max-width: 991.98px) {
  .p-30 {
    padding: 15px;
  }
}

.pb-30 {
  padding-bottom: 30px;
}
@media (max-width: 991.98px) {
  .pb-30 {
    padding-bottom: 15px;
  }
}

.mb-100 {
  margin-bottom: 100px;
}
@media (max-width: 991.98px) {
  .mb-100 {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .mb-100 {
    margin-bottom: 35px;
  }
}
.pb-70 {
  padding-bottom: 70px;
}
@media (max-width: 767.98px) {
  .pb-70 {
    padding-bottom: 20px;
  }
}
.pb-100 {
  padding-bottom: 100px;
}
@media (max-width: 991.98px) {
  .pb-100 {
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .pb-100 {
    padding-bottom: 35px;
  }
}
.pt-100 {
  padding-top: 100px;
}
@media (max-width: 991.98px) {
  .pt-100 {
    padding-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .pt-100 {
    padding-top: 35px;
  }
}
.mb-3,
.my-3 {
  margin-bottom: 30px !important;
}
@media (max-width: 767.98px) {
  .mb-3,
  .my-3 {
    margin-bottom: 10px !important;
  }
}
.mb-2,
.my-2 {
  margin-bottom: 20px !important;
}
.mt-4,
.my-4 {
  margin-top: 40px !important;
}
@media (max-width: 767.98px) {
  .mt-4,
  .my-4 {
    margin-top: 25px !important;
  }
}
.mb-4,
.my-4 {
  margin-bottom: 40px !important;
}
@media (max-width: 991.98px) {
  .mb-4,
  .my-4 {
    margin-bottom: 30px !important;
  }
}
@media (max-width: 767.98px) {
  .mb-4,
  .my-4 {
    margin-bottom: 25px !important;
  }
}
.mt-3,
.my-3 {
  margin-top: 30px !important;
}
.mt-5,
.my-5 {
  margin-top: 50px !important;
}
@media (max-width: 991.98px) {
  .mt-5,
  .my-5 {
    margin-top: 20px !important;
  }
}

.form-group {
    margin-bottom: 30px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}
.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}
.form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.form-control-plaintext.form-control-sm,
.form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}
.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
select.form-control[size],
select.form-control[multiple] {
  height: auto;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 1rem;
}
.form-text {
  display: block;
  margin-top: 0.25rem;
}
.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}
.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}
.form-check-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}
.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
}
.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #28a745;
}
.valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(40, 167, 69, 0.9);
  border-radius: 0.25rem;
}
.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: #28a745;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: #28a745;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
.was-validated .form-control:valid ~ .valid-feedback,
.was-validated .form-control:valid ~ .valid-tooltip,
.form-control.is-valid ~ .valid-feedback,
.form-control.is-valid ~ .valid-tooltip {
  display: block;
}
.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right
    calc(0.375em + 0.1875rem);
}
.was-validated .custom-select:valid,
.custom-select.is-valid {
  border-color: #28a745;
  padding-right: calc((1em + 0.75rem) * 3 / 4 + 1.75rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
      no-repeat right 0.75rem center/8px 10px,
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e")
      #fff no-repeat center right 1.75rem / calc(0.75em + 0.375rem)
      calc(0.75em + 0.375rem);
}
.was-validated .custom-select:valid:focus,
.custom-select.is-valid:focus {
  border-color: #28a745;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
.was-validated .custom-select:valid ~ .valid-feedback,
.was-validated .custom-select:valid ~ .valid-tooltip,
.custom-select.is-valid ~ .valid-feedback,
.custom-select.is-valid ~ .valid-tooltip {
  display: block;
}
.was-validated .form-control-file:valid ~ .valid-feedback,
.was-validated .form-control-file:valid ~ .valid-tooltip,
.form-control-file.is-valid ~ .valid-feedback,
.form-control-file.is-valid ~ .valid-tooltip {
  display: block;
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
.invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.9);
  border-radius: 0.25rem;
}
.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  border-color: #dc3545;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-tooltip,
.form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-tooltip {
  display: block;
}
.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right
    calc(0.375em + 0.1875rem);
}
.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  border-color: #dc3545;
  padding-right: calc((1em + 0.75rem) * 3 / 4 + 1.75rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
      no-repeat right 0.75rem center/8px 10px,
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E")
      #fff no-repeat center right 1.75rem / calc(0.75em + 0.375rem)
      calc(0.75em + 0.375rem);
}
.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: #dc3545;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.was-validated .custom-select:invalid ~ .invalid-feedback,
.was-validated .custom-select:invalid ~ .invalid-tooltip,
.custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-tooltip {
  display: block;
}
.was-validated .form-control-file:invalid ~ .invalid-feedback,
.was-validated .form-control-file:invalid ~ .invalid-tooltip,
.form-control-file.is-invalid ~ .invalid-feedback,
.form-control-file.is-invalid ~ .invalid-tooltip {
  display: block;
}
.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.form-inline .form-check {
  width: 100%;
}
@media (min-width: 576px) {
  .form-inline .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-plaintext {
    display: inline-block;
  }
  .form-inline .input-group,
  .form-inline .custom-select {
    width: auto;
  }
  .form-inline .form-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    padding-left: 0;
  }
  .form-inline .form-check-input {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 0;
    margin-right: 0.25rem;
    margin-left: 0;
  }
  .form-inline .custom-control {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.form-control {
  height: 45px;
  border: 1px solid #fff;
  color: #000;
  padding: 5px 15px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
}
.form-control:focus {
  color: #000;
  outline: none;
  border: 1px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-group textarea {
  border-color: #fff;
  color: #000;
  padding: 10px 15px;
  border-radius: 4px;
  width: 100%;
  height: 140px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  resize: none;
}
.form-group textarea:focus {
  color: #000;
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.form-group .note {
  display: block;
  margin-top: 12px;
  font-size: 12px;
  color: #9f9f9f;
}
@media (max-width: 767.98px) {
  .form-group .note {
    margin-top: 5px;
  }
}
.pagetitle-wrapper > *:last-child {
  padding: 0;
  margin: 0;
}
@media (max-width: 767.98px) {
  .container {
    max-width: 100%;
  }
  .pagetitle-wrapper h2 {
    font-size: 22px;
  }
}
.form-group {
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .form-group {
    margin-bottom: 15px;
  }
}
.form-group input[type="number"]::-webkit-inner-spin-button,
.form-group input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
select {
  width: 100%;
}
.select2-container {
  font-size: 14px;
  height: 45px;
}
.select2-container .selection {
  height: 100%;
  display: block;
}
.select2-container .selection .select2-selection--multiple {
  height: 100%;
  overflow: auto;
}
.select2-container--default .select2-dropdown--below {
  border: none;
}
.select2-container--default .select2-results__option {
  padding: 8px 10px;
  font-size: 14px;
}
.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #012736;
  color: white;
}
.select2-container--default .select2-results > .select2-results__options {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  height: 45px;
  border-color: #fff;
  border-radius: 4px;
  outline: none;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered {
  line-height: 45px;
  color: #000;
  padding: 0 15px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__arrow {
  height: 100%;
  width: 30px;
  background: transparent url("../../assets/img/arrow-down.svg") no-repeat 50%
    50%;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__arrow
  b {
  display: none;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__placeholder {
  color: #aaaaaa;
  font-weight: 500;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered
  li {
  line-height: 1.6;
  padding: 4px 5px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered
  li
  .select2-search__field {
  margin-top: 7px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  margin-right: 5px;
}
@media (min-width: 768px) {
  .custom-row .row {
    margin: 0 -25px;
  }
  .custom-row .row [class^="col-"] {
    padding: 0 25px;
  }
}
.content-block h3 {
  line-height: 1.5;
}
.wysiwg-content p {
  padding-bottom: 0;
  padding-top: 30px;
  line-height: 1.9;
}
@media (max-width: 767.98px) {
  .wysiwg-content p {
    padding-top: 10px;
  }
}
.wysiwg-content ul,
.wysiwg-content ol {
  margin: 0;
  padding: 20px 0 0;
}
@media (max-width: 767.98px) {
  .wysiwg-content ul,
  .wysiwg-content ol {
    padding-top: 10px;
  }
}
.wysiwg-content h3 {
  margin-bottom: 0;
}
.wysiwg-content h5 {
  font-weight: 500;
  padding-top: 30px !important;
  margin: 0;
}
.wysiwg-content ul li {
  margin-bottom: 15px;
}
@media (max-width: 767.98px) {
  .wysiwg-content ul li {
    margin-bottom: 10px;
  }
}
.wysiwg-content ul li:last-child {
  margin-bottom: 0;
}
.wysiwg-content ul li:before {
  top: 5px;
}
.wysiwg-content > *:not(div) {
  padding-top: 20px;
}
@media (max-width: 767.98px) {
  .wysiwg-content > *:not(div) {
    padding-top: 10px;
  }
}
.wysiwg-content > *:first-child {
  padding-top: 0;
}
.wysiwg-content strong {
  font-weight: 500;
}
.custom-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form-check {
  padding-left: 35px;
  font-weight: 500;
}
@media (max-width: 575.98px) {
  .form-check {
    width: 100%;
    margin-bottom: 10px;
  }
  .form-check:last-of-type {
    margin-bottom: 0;
  }
}
.form-check-input {
  display: none;
}
.form-check-input:checked ~ .form-check-label:before {
  background-position: 0 -40px;
}
.form-check label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing,
div.wpcf7-mail-sent-ok {
  border: 0px;
  padding: 0;
  font-size: 12px;
  color: red;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0;
}
div.wpcf7-mail-sent-ok {
  color: #145a26;
}
span.wpcf7-not-valid-tip {
  font-size: 12px;
  font-weight: 500;
  display: block;
  margin-top: 3px;
  color: #012736;
}

.upload-filewrap .btn-upload {
  background: #d2eaf3;
  border: 1px solid #00aeef;
  border-radius: 4px;
  font-size: 14px;
  color: #00aeef;
  font-weight: 500;
  margin: 0;
}

.form-check {
  padding-left: 35px;
  font-weight: 500;
}
@media (max-width: 575.98px) {
  .form-check {
    width: 100%;
    margin-bottom: 10px;
  }
  .form-check:last-of-type {
    margin-bottom: 0;
  }
}
.form-check-input {
  display: none;
}
.form-check-input:checked ~ .form-check-label:before {
  background-position: 0 -40px;
}
.form-check label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
